:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;

    /* Size */
    --padding: 12px;
    --avartar-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--grey-dark-color);
}

html, body {
    margin: 0;
    font-family: Lato, Helvetica, sans-serif;
    width: 100%;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Nav container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background-color: white;
    font-family: Poppins, Helvetica, Arial;
    text-transform: uppercase;
}

/* Logo with text */
.navbar_logo {
    font-size: 20px;
    justify-content: start;
    color: black;
}

.navbar_logo a {
    color: black;
}

.navbar_logo i {
    color: black;
}

/* Menu */
.navbar_menu {
    display: flex;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.navbar_menu li {
    padding: 8px 20px;
}

.navbar_menu li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--grey-dark-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar_menu li:hover::after {
    width: 100%;
}


/* Toggle button */
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--grey-dark-color);
}

/* For small screen */
@media screen and (max-width: 768px) {
    /* Nav container */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }


/* Menu */
.navbar_menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.navbar_menu a {
    display: block;
}

/* Icons */
.navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
}

/* Toggle button */
.navbar_toggleBtn {
    display: block;
}

/* When toggle button is clicked - active state */
.navbar_menu.active,
.navbar_icons.active {
    display: flex;
}

}

/* Footer */

footer {
    margin-top: 2rem;
}

.backtotop{
    text-align: center;
    margin-top: 2rem;
}

.socialmedia {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0; 
}

/* Content */

.content {
    /* display: flex;
    flex-wrap: nowrap; */
    /* padding: 20px; */
    /* max-width: 700px; */
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    font-family: Lato, Helvetica, sans-serif;
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}


/* portfolio */

.portfolio {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

/* Impossible */

.glowingeffect {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2 span {
    transition: 0.5s;
}

h2:hover span:nth-child(2)
{
    color: black;
}
h2:hover span 
{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 120px #fff,
                0 0 160px #fff;
}

/* Glowing Text Animation Effects 2 */

.glowingeffect2 {
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #111;
    height: 100vh;
}

.glowingeffect2 h1 {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 10em;
}

h1 .glowing2 {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: glowing 2s linear infinite;
}

.glowing2:nth-child(1) {
     animation-delay: 0s; 
}
.glowing2:nth-child(2) {
    animation-delay: 0.25s; 
}
.glowing2:nth-child(3) {
    animation-delay: 0.5s; 
}
.glowing2:nth-child(4) {
    animation-delay: 0.75s; 
}
.glowing2:nth-child(5) {
    animation-delay: 1s; 
}
.glowing2:nth-child(6) {
    animation-delay: 1.25s; 
}
.glowing2:nth-child(7) {
    animation-delay: 1.5s; 
}

@keyframes glowing {
    0%,100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0px 0px 10px #00b3ff,
                    0px 0px 20px #00b3ff,
                    0px 0px 40px #00b3ff,
                    0px 0px 80px #00b3ff,
                    0px 0px 120px #00b3ff,
                    0px 0px 200px #00b3ff,
                    0px 0px 300px #00b3ff;
    }
    5%,95% {
        color: #000;
        filter: blur(0px);
        text-shadow: none;
    }
}

@media screen and (max-width: 768px) {
    .glowingeffect2 h1 {
        font-size: 3rem;
    }
}

/* CSS Animation Play State */
.playstate {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    cursor: pointer;
}

.playstate span {
    position: relative;
    font-size: 3.5rem;
    color: #fff;
    display: inline-block;   
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: paused;
}

.playstate:hover span {
    animation-play-state: running;
}

@keyframes animate {
    0%,40%,100%
    {
        transform: translateY(0);
    }
    20%
    {
        transform: translateY(-50px);
    }

}

@media screen and (max-width: 768px) {
    .playstate span {
        font-size: 1.5rem;
    }
}

/* Split Word */

.splitword {
    background: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 4;
}

.splitword h1 {
    /* position: absolute; */
    font-size: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-family: "arial black";
}

.splitword h1:before,
h1:after {
    content: attr(data-name);
    color: #f1f1f1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

.splitword h1:before {
    -webkit-clip-path: polygon(55% 0, 0 0 , 0 100% , 35% 100%);
    clip-path: polygon(55% 0, 0 0 , 0 100% , 35% 100%);
    /* background: #f00; */
}

.splitword h1:after {
    -webkit-clip-path: polygon(55% 0, 100% 0 , 100% 100% , 35% 100%);
    clip-path: polygon(55% 0, 100% 0 , 100% 100% , 35% 100%);
    /* background: #ff0; */
}

.splitword h1:hover:before {
    top: -5px;
    left: -10px;
    transform: rotate(-5deg);
}

.splitword h1:hover:after {
    top: 5px;
    left: 10px;
    transform: rotate(5deg);
}

.splitword h2 {
    color: #b5b5b5;
}

@media screen and (max-width: 768px) {
    .splitword h1, h2 {
        font-size: 2rem;
    }

}


/* Ghost Text2 Hover Effects */

.ghosttext2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ghostcontainer {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.ghostcontainer span {
    transition: 1.5s;
}

.ghostcontainer:hover span {
    filter: blur(20px);
    opacity: 0;
    transform: scale(2);
}

.ghostcontainer span:nth-child(10n+1)
{
    transition-delay: 0s;
}
.ghostcontainer span:nth-child(10n+2)
{
    transition-delay: 0.1s;
}
.ghostcontainer span:nth-child(10n+3)
{
    transition-delay: 0.2s;
}
.ghostcontainer span:nth-child(10n+4)
{
    transition-delay: 0.3s;
}
.ghostcontainer span:nth-child(10n+5)
{
    transition-delay: 0.4s;
}
.ghostcontainer span:nth-child(10n+6)
{
    transition-delay: 0.5s;
}
.ghostcontainer span:nth-child(10n+7)
{
    transition-delay: 0.6s;
}
.ghostcontainer span:nth-child(10n+8)
{
    transition-delay: 0.7s;
}
.ghostcontainer span:nth-child(10n+9)
{
    transition-delay: 0.8s;
}
.ghostcontainer span:nth-child(10n+10)
{
    transition-delay: 0.9s;
}
.ghostcontainer span:nth-child(10n+11)
{
    transition-delay: 1s;
}


@media screen and (max-width: 768px) {
    .ghostcontainer span {
        font-size: 1.5rem;
    }
}

/* Color matters */

.redcolor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

.redcolor h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.redcolor h2:nth-child(1) {
    color: #b00612;
}

.redcolor h2:nth-child(2) {
    color: #e50815;
}

.redcolor h2:nth-child(3) {
    color: #f32a37;
}

.redcolor h2:nth-child(4) {
    color: #ec3c48;
}

.redcolor h2:nth-child(5) {
    color: #ec525c;
}

/* Multiple Shadows */

.multipleshadows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
}

.textshadow {
    position: relative;
    display: block;
    font-size: 7rem;
    text-transform: uppercase;
    line-height: 0.8;
    color: darkgrey;
    text-shadow: 0 15px 5px rgba(0,0,0,.2);
    letter-spacing: -5px;
    transform: skewY(1deg);
    box-shadow: 0 4px 0 rgba(0,0,0,.1), 0 -4px 0 rgba(0,0,0,.5);
}

.textblock1 {
    z-index: 3;
    background:rgba(43, 43, 43, 0.8)
}

.textblock2 {
    z-index: 2;
    background:rgba(0, 0, 0, 0.5)
}

.textblock3 {
    z-index: 1;
    background: rgba(0,0,0,0.1)
}

@media screen and (max-width: 768px) {
    .textshadow {
        font-size: 3rem;
    }
}


/* clip box */

.clipbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #f3f3f3;
}

.clipbox h1 {
    position: absolute;
    color: #000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 8em;
    text-transform: uppercase;
    text-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.clipbox h1:nth-child(2) {
    background: #f3f3f3;
    color: #fff;
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}

.clipbox h1:nth-child(2):hover {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.clipbox h1:nth-child(1):hover ~ h1 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}


@media screen and (max-width: 768px) {
    .clipbox h1 {
        font-size: 2rem;
    }
}

/* skew text */

.skewtext {
    display: inline-block;
    margin: 250px 200px;
    text-align: center;
    transition: .5s;
}

.skewtext span {
    background: #fff;
    width: 120px;
    height: 120px;
    display: block;
    line-height: 120px;
    font-family: arial;
    font-weight: bold;
    color: #a0a0a0;
    font-size: 40px;
    float: left;
    transition: .5s;
}

.skewtext span:nth-child(1) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skewtext span:nth-child(1) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.skewtext:hover span:nth-child(odd) {
    transform: skewY(-15deg);
    color: #b5b5b5;
    box-shadow: 0 60px 20px rgba(0,0,0,.1);
}

.skewtext:hover span:nth-child(even) {
    transform: skewY(10deg);
    box-shadow: 0 60px 20px rgba(0,0,0,.1),
    inset 0px 0 30px rgba(0,0,0,.2);
    color: #b5b5b5;
}

.skewtext:hover {
    transform: rotateX(35deg);
}

/* Wooden text */
/* 
.wooden {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background: url(images/text-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.woodentext {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    background: url(images/text-bg.jpg);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woodentext:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-shadow: -5px 5px 20px #000,
                -10px 10px 30px #000,
                -20px 15px 40px #000,
                -25px 20px 50px #000; */

/* Video inside text */
/* 
.videotext {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videotext video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videotext .insidetext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 10vw;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 100vh;
    mix-blend-mode: screen;
}

@media screen and (max-width: 768px) {
    .videotext .insidetext {
        font-size: 1.5rem;
    }
} */

/* Design and programming */

.designprogramming {
    position: relative;
    width: 100%;
    background: #333;
    margin-top: 10rem;
    margin-bottom: 0;
    /* max-width: 700px; */
    height: 600px;
}

h1 {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.first_button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 3rem;
    padding-top: 1rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
} 

.split.left .first_button:hover {
    background-color: rgba(223, 39, 39, 0.7);
    border-color: rgba(223, 39, 39, 0.7);
}

.split.right .first_button:hover {
    background-color: rgba(92, 92, 92, 0.3);
    border-color: rgba(92, 92, 92, 0.3);
}

.split {
    position: absolute;
    width: 50%;
    height: 600px;
    /* overflow: hidden; */
}

.split.left {
    left: 0;
    background: url('./images/text-bg.jpg') center center no-repeat;
    background-size: cover;
}

.split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 600px;
    background: rgba(223, 39, 39, 0.7);
}

.split.right {
    right: 0;
    background: url('./images/text-bg.jpg') center center no-repeat;
    background-size: cover;
}

.split.right:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 600px;
    background: rgba(43, 43, 43, 0.8);
}

.split.left, .split.right, .split.right:before, .split.left:before {
    transition: 1000ms all ease-in-out;
}

.hover-left .left {
    width: 75%;
}

.hover-left .right {
    width: 25%;
}

.hover-left .right:before {
    z-index: 2;
}

.hover-right .right {
    width: 75%;
}

.hover-right .left {
    width: 25%;
}

.hover-right .left:before {
    z-index: 2;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    .first_button {
        width: 12rem;
    }
}

/* @media(max-height: 700px) {
    .first_button {
        top: 70%;
    }
} */

/* Animation Box */

.animationbox {
    background: #333;
    width: 100%;
    height: 600px;
}

