@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lora, sans-serif;
    /* overflow-x: hidden; */
}

:root {
    --grey: #CBCFD3;
    --grey2: #707070;
    --medium: 32px;
    --midsmall: 24px;
    --small: 18px;
}

body {
    position: relative;
    background: #FFF;
}

header {
    position: fixed;
    text-decoration: none;
    font-size: 0.8rem;
    background: #fff;
    color: #999;
    right: 20px;
    top: 10px;
    z-index: 1000;
}

.main {
    position: relative;
    display: flex;
}

.side {
    width: 20vw;
    height: 100vh;
}

#toggle {
    position: fixed;
    top: 40%;
    left: 10px;
    width: 60px;
    height: 60px;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #111;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #111;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#sidebar {
    position: fixed;
    top: 0;
    left: -500px;
    width: 500px;
    height: 100vh;
    background: #fff;
    border-right: 0.5px solid lightgrey;
    border-left: 0.5px solid lightgrey;
    transition: 0.5s;
    z-index: 999;
}

#sidebar.active {
    left: 40px;
}

#sidebar ul {
    position: relative;
    transform: translateY(20vh);
    height: 100vh;
}

#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
    text-align: center;
}

#sidebar li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: lightgrey;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* #sidebar li:hover::after {
    width: 35%;
} */

#sidebar ul li a:hover {
    color: #999;
}

#sidebar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1.5em;
}

/* rightside */

.container {
    position: relative;
    width: 80vw;
    min-height: 100vh;
    top: 0;
    transition: 0.5s ease-in-out;
}

.container.active {
    left: 400px;
    transition: 0.5s ease-in-out;
}

section {
    position: relative;
    min-height: 100vh;
    width: 70%;
    margin: 20px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
}

/* .line-center {
    position: relative;
    left: 40%;
    height: 180px;
    width: 1px;
    background: #999;
} */


/* Home */

.story {
    position: absolute;
    top: 200px;
}

span.black_sentence {
    margin: auto;
    font-family: 'Oswald', sans-serif;
    font-size: var(--medium);
}

span.grey_sentence {
    font-family: 'Oswald', sans-serif;
    font-size: var(--medium);
    color: #CBCFD3;
}

.scroll {
    position: absolute;
    left: 50%;
    top: 80%;
}

.scroll ion-icon {
    font-size: 2rem;
    color: #999;
}

/* Projects */

.projectbox {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 50px 0;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
    width: 80%;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 10px 0;
}

.content-wrapper .contentbox {
    border: 1px solid rgba(0,0,0,0.05);
    padding: 20px 20px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.content-wrapper .contentbox .imgbox {
    width: 300px;
    height: 300px;
}


.contentbox .imgbox::before {
    content: 'Coming Soon';
    text-align: center;
}


.contentbox h2 {
    font-size: var(--small);
    text-align: center;
    text-transform: uppercase;
}

.contentbox p {
    text-align: center;
}


p.description {
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
}

/* about box */

section#about {
    margin-top: 200px;
}

.aboutbox {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 100px 0;
}



@media (max-width: 768px) {


    .main {
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }

    .side {
        width: 15vw;
        height: 100vh;
    }

    .container {
        width: 85vw;
    }


    .container.active {
        display: none;
        visibility: hidden;
    }

    span.black_sentence {
        font-size: var(--midsmall);
    }
    
    span.grey_sentence {
        font-size: var(--midsmall);
    }


    #sidebar ul li a {
        font-size: 25px;
    }

    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        margin: 10px 0;
    }

    .content-wrapper .contentbox .imgbox {
        width: 250px;
        height: 250px;
    }

}


