:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;

    /* Size */
    --padding: 12px;
    --avartar-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--grey-dark-color);
}

body {
    margin: 0;
    font-family: Lato, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}


header {
    position: sticky;
    top: 0;
}

/* Nav container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background-color: white;
    font-family: Poppins, Helvetica, Arial;
    text-transform: uppercase;
}

/* Logo with text */
.navbar_logo {
    font-size: 20px;
    justify-content: start;
    color: black;
}

.navbar_logo a {
    color: black;
}

.navbar_logo i {
    color: black;
}

/* Menu */
.navbar_menu {
    display: flex;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.navbar_menu li {
    padding: 8px 20px;
}

.navbar_menu li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--grey-dark-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar_menu li:hover::after {
    width: 100%;
}


/* Toggle button */
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--grey-dark-color);
}

/* For small screen */
@media screen and (max-width: 768px) {
    /* Nav container */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }


/* Menu */
.navbar_menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.navbar_menu a {
    display: block;
}

/* Icons */
.navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
}

/* Toggle button */
.navbar_toggleBtn {
    display: block;
}

/* When toggle button is clicked - active state */
.navbar_menu.active,
.navbar_icons.active {
    display: flex;
}

}

/* Intro */


.content {
    display: flex;
    flex-wrap: wrap;
    /* padding: 20px; */
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    font-family: Lato, Helvetica, sans-serif;
}

.intro {
    margin: 50px 0 50px 0;
}

h2 {
    font-size: 22px;
    margin: 20px 0 20px 0;
}

/* Tabs */
/* .tabs {
    background: lightgrey;
    padding-top: 1rem;
    width: 700px;
    border-bottom: 3px solid lightgrey;
}

.tab-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tab-name {
    margin-bottom: 1rem;
    font-size: 18px;
}

.tab-content .container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tab-writing {
    font-size: 16px;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1.5rem 0;
}

.tab-item:hover {
    color: #d10000;
    cursor: pointer;
}

.tab-border {
    border-bottom: #d10000 4px solid;
} */

/* Tab Content */

/* .tab-content {
    padding: 3rem 0;
    background: #f2f2f2;
    color: black;
} */

/* Hide content initially */

/* #tab-1-content, 
#tab-2-content, 
#tab-3-content {
    display: none;
    align-items: center; 
    justify-content: center;
} */

.show {
    display: block !important;
}

/* Container */
.container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* text styles */

.text-dark {
    color: var(--grey-dark-color)
}

/* personal */

.portfolio {
    margin-top: 50px;
}

.portfolio_top {
    display: flex;
    justify-content: space-between;
}

.portfolio_img {
    background-color: #aaa;
    width: 100%;
    max-width: 700px;
}

.portfolio_actions {
    display: flex;
    list-style: none;
}

.portfolio_actions li i {
    padding: 0px 7px 0px 7px
}

.portfolio_share {
    font-size: 13px;
}

.portfoliobox {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* end of personal */


/* Professional */

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
}

.hero-content { 
    width: 100%; 
    height: 400px;
    background: url('/images/text-bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px; 
    margin-bottom: 20px;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.4), -30px 0px 40px rgba(0,0,0,0.4)
}

/* writing_html */

.writing-list {
    margin: 7em 0;
    line-height: 2em;
}

/* Footer */

footer {
    margin-top: 2rem;
}

.backtotop{
    text-align: center;
    margin-top: 2rem;
}

.socialmedia {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0; 
}