:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;

    /* Size */
    --padding: 12px;
    --avartar-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--grey-dark-color);
}

body {
    margin: 0;
    font-family: Lato, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}


header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Nav container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background-color: white;
    font-family: Poppins, Helvetica, Arial;
    text-transform: uppercase;
}

/* Logo with text */
.navbar_logo {
    font-size: 20px;
    justify-content: start;
    color: black;
}

.navbar_logo a {
    color: black;
}

.navbar_logo i {
    color: black;
}

/* Menu */
.navbar_menu {
    display: flex;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.navbar_menu li {
    padding: 8px 20px;
}

.navbar_menu li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--grey-dark-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar_menu li:hover::after {
    width: 100%;
}


/* Toggle button */
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--grey-dark-color);
}

/* For small screen */
@media screen and (max-width: 768px) {
    /* Nav container */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }


/* Menu */
.navbar_menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.navbar_menu a {
    display: block;
}

/* Icons */
.navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
}

/* Toggle button */
.navbar_toggleBtn {
    display: block;
}

/* When toggle button is clicked - active state */
.navbar_menu.active,
.navbar_icons.active {
    display: flex;
}

/* slider */

.content {
    padding: 20px 50px;
}

.icons .controls li {
    filter: invert(0);
}

.content .bannerText h2 {
    font-size: 20px;
}


.content {
    margin-top: 0;
    flex-direction: column-reverse;
}

.content .bannerImg {
    width: 100%;
    height: 40vh;
    margin: 20px 0;
}

.content .bannertext {
    max-width: 100%;
    padding-right: 0;
}

}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    min-height: 100vh;
}

/* slider */

.content .bannerText {
    position: relative;
    max-width: 500px;;
    margin-right: 0px;
}

.content .bannerText div {
    display: none;
}

.content .bannerText div.active {
    display: initial;
}

.content .bannerText h2 {
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2em;
    color:#333;
}

.content .bannerText p {
    font-size: 18px;
    color: #333;
    line-height: 1.8em;
    margin: 20px 0;
}

.content .bannerText a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
}

.content .bannerText a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #78ff00;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.content .bannerText a:hover:before {
    width: 100%;
}


.content .bannerImg {
    position: relative;
    width: 440px;
    height: 440px;
    background: #000;
}

.content .bannerImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 0;
}

.content .bannerImg img.active {
    opacity: 1;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0;
}

.icons .controls {
    position: relative;
    display: flex; 
}

.icons .controls li {
    list-style: none;
    margin-left: 0px;
    cursor: pointer;
    filter: invert(1);
    transition: 0.5s ease-in-out;
}

.icons .controls li:hover {
    opacity: 0.5;
}

.icons .controls li img {
    max-height: 24px;
}

/* slider */



/* writing_html */

.writing-list {
    margin: 7em 0;
    line-height: 2em;
}

/* Footer */

footer {
    margin-top: 2rem;
}

.backtotop{
    text-align: center;
    margin-top: 2rem;
}

.socialmedia {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0; 
}