/*
 * Web Starter Kit
 *
 * 
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

body {
    position: relative;
    font-family: "Heebo", sans-serif;
    background-color: #FFFFFF;
    box-sizing: border-box;
    min-height: 100%;
}

h1 {
  font-family: "Muli";
    font-size: 2em;
}


.powered-by{
    font-family: "Lato";
    font-size: 1em;
    text-align: center;
}

.featured-section {
  background: #f0f0f0;
}

@media only screen and (min-width: 620px) {
  .container-medium {
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 620px) and (min-width: 620px) {
  .container-medium {
    padding-left: 4.8%;
    padding-right: 4.8%;
    max-width: 688px;
  }
}
@media only screen and (min-width: 620px) and (min-width: 800px) {
  .container-medium {
    padding-left: 4.4%;
    padding-right: 4.4%;
    max-width: 864px;
  }
}


/*==========  FEATURED LIST  ==========*/
.featured-list {
  padding-top: 78px;
  padding-bottom: 78px;
    padding-right:0px;
    padding-left:0px;
}

@media only screen and (min-width: 620px) {
  .featured-list__item {
    min-height: 600px;
    padding: 50px 60px;
  }
}

.featured-list__item:first-child {
  margin-top: 0;
    margin-left: 20;
}
.featured-list__item p {
  margin-bottom: 0px;
}


.featured-list__img-wrapper {
  display: block;
  position: relative;
  padding-top: 5px;
  padding-left: 10px;
    padding-right: 10px;
  margin: 0;

}
@media only screen and (min-width: 620px) {
  .featured-list__img-wrapper {
    display: block;
    padding-top: 0;
    padding-right:100px;
    margin: 0;
  }
}

@media only screen and (min-width: 500px) {
  .featured-list__img {
    padding-top: 100%;
    padding-bottom: 100%;
    padding-right: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
  }
}
.featured-list__img img {
  display: block;
  margin: 0 20px;
  max-width: 100%;
}
@media only screen and (min-width: 620px) {
  .featured-list__img img {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height:auto;
    left: 0;
  }
}


p{
    font-family: "Lato"; 
    font-size: 20px;
}


.app-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
}

.app-bar-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
}

.app-bar .logo {
    -webkit-flex: 1;
    flex: 1;
    font-size: 2em;
    line-height: 60px;
    margin: 0 16px;
    padding: 0;
    color: black;
    float: none;
    max-width: none;
    font-family: "Merriweather";;
    font-weight: 300;
    line-height: 60px;
}

.app-bar .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

.app-bar-actions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    z-index: 2;
}

.app-bar button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: background-color 0.2s ease-out;

    -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
    width: 60px;
    height: 60px;
}

.app-bar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
}

.app-bar button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
    height:24px;
    width: 24px; 
}

.promote-layer {
    /*
    This may promote the layer to a composited
    layer.

    Replace with will-change when available

    #perfmatters
    */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.base, p, ul, ol {
    font-size: 19px;
}

.navdrawer-container {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background-color: whitesmoke;
    color: #fefefe;
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    overflow-y: scroll;
}

.navdrawer-container.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
}

.navdrawer-container h4 {
    background-color: white;
    color: #3367D6;
}

.navdrawer-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navdrawer-container ul li a {
    display: block;
    text-decoration: none;
    font-family: "Lato", sans-serif; 
    color: black;
    transition: background-color 0.2s ease-out;
}

.navdrawer-container ul li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
}

.navdrawer-container ul li:before {
    content: none;
}

.navdrawer-container ul li a:hover {
    background-color: white;
}

.navdrawer-container ul li a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.navdrawer-container ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
}

main {
    margin: 0 auto;
    /* Height of the header */
    padding: 60px 16px 16px 16px;
    min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-device-width: 1200px) {
    .app-bar {
        position: relative;
    }

    .app-bar-container {
        display: block;
        height: 130px;
        max-width: 864px;
        padding: 0 16px;
        box-sizing: border-box;
        background-color: white;
    }

    .app-bar .logo {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 130px;
        font-size: 46px;
    }

    .app-bar-actions {
        float: right;
    }

    .app-bar:after {
        content: ' ';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    button.menu {
        display: none;
    }

    nav {
        display: block;
        margin-top: 130px;
    }

    .navdrawer-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 130px;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        transition: none;
        overflow-y: auto;
    }

    .navdrawer-container h4 {
        display: none;
    }

    .navdrawer-container ul {
        display: -webkit-flex;
        display: flex;
        max-width: 864px;
        margin: 0 auto;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .navdrawer-container ul li {
        border: none;
    }

    main {
        max-width: 864px;
        padding-top: 0;
        min-height: initial;
    }

    body {
        overflow-y: scroll;
    }

    .navdrawer-container {
        position: relative;
        margin-top: 0;
    }
}

@media all and (min-device-width: 1200px) and (max-width: 800px) {
    .app-bar .logo {
        float: none;
        width: 100%;
        line-height: normal;
        text-align: center;
        padding-top: 36px;
    }

    .app-bar-container {
        height: auto;
    }

    .app-bar-actions {
        width: 100%;
    }

    .navdrawer-container {
        padding: 0 16px;
        overflow-y: auto;
    }

    .navdrawer-container li {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }
}

/* from here I inserted data projects*/




.big-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: block;
}

.landing {
    max-width: 400px;
    display: block;
}

.center-ele {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrapper {
    max-width: 1160px;
    margin-bottom: 30px;
    margin-top:30px; 
    display: block;
}

.landing-wrapper {
    max-width: 1160px;
    display: block;
}

.grid-item {
    width: 180px;
    margin-bottom: 15px;
    float: left;
    display: block;
}


.name-container {
    border-top: 1px solid #282828;
     display: block;
}

.note {
    margin: 4px;
    font-family: "Heebo", sas-serif;
    font-size: 12px;
    display: block;
    color: #282828;
    padding: 0px;
    display: block;
}

.pub{
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.28em;
    
}

.name{
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 400;
}

.img container {
    width: 100%;
    height: auto;
}

.inner{
    position: relative;
    border: 1px solid #282828;
    border-radius: 3px;
    transition: all .4s;
}

#clip {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

img {
    width: 100%;
}

.story:hover .inner {
    z-index: 1000;
}

.story:hover .inner{
    top: -8px;
    background-color: #fff;
    box-shadow: 0px, 5px, 7px, -2px rgba(0,0,0,0.3);
}

@media (max-width: 1160px) {
    
    .wrapper {
        max-width: 970px;
    }
    
    .landing-wrapper{
        max-width: 970px;
    }
}


@media (max-width: 980px) {
    .wrapper {
        max-width: 770px;
    }
    
    .landing-wrapper{
        max-width: 770px;
    }
}

@media (max-width: 845px) {
    .wrapper{
        max-width: 570px;
    }
    
    .landing-wrapper{
        max-width: 570px;
    }
}

@media (max-width: 585px) {
    .wrapper {
        max-width:380px;
    }
    .landing-wrapper{
        max-width: 380px;
    }
}

@media (max-width: 390px) {
    .wrapper{
        max-width: 300px;
    }
    .landing-wrapper{
        max-width: 300px;
    }
}

.name-wrapper h1{
    font-size: 2.3em;
}

.pub{
    font-size: 14px;
}

br{
    display: none;
}

.note{font-size: 14px;
}

.grid-item{
    width: 300px;
}

